extends ../base
include ../mixins/homeImportantPostingMixin

block content
    .carousel
        button.left-button
            i(class="fas fa-chevron-left")
        button.right-button
            i(class="fas fa-chevron-right")
        .overflow-banner
            ul.img-banner
                li
                    img(src=`${frontURL}/sources/title.jpg`, alt="title")
                li
                    img(src=`${frontURL}/sources/home.jpg`, alt="home")
                li
                    img(src=`${frontURL}/sources/lobby-title.jpg`, alt="lobby")

    .home
        hr
        h1 미래부부치과는
        p 언제나 편안하고 정성을 다하는 치료와 아름다운 미소를 위해 최선을 다하겠습니다.
        .site-buttons
            a(href="/intro/director").site-button#dentist
                object(data=`${frontURL}/elements/dentist.svg`, type="image/svg+xml")
                hr(align="left")
                h2 원장님 소개
            a(href="/intro/guide").site-button#map
                object(data=`${frontURL}/elements/map.svg`, type="image/svg+xml")
                hr(align="left")
                h2 진료안내 & 오시는길
            a(href="/treatment/prosthetic").site-button#dental
                object(data=`${frontURL}/elements/dental.svg`, type="image/svg+xml")
                hr(align="left")
                h2 치료안내
            a(href="/notice/1").site-button#megaphone
                object(data=`${frontURL}/elements/megaphone.svg`, type="image/svg+xml")
                hr(align="left")
                h2 게시판
                
        hr
        h1.notice-title 공지사항
        .home-notice
            each importantPosting in importantPostings 
                +homeImportantPostingMixin(importantPosting)

block scripts
    script(src="/assets/js/banner.js")