extends ../base
include ../mixins/postingMixin
include ../mixins/importantPostingMixin

block content 
    .postings
        h1=pageTitle
        if loggedInUser
            .toUploadContainer
                a.toUpload(href="/notice/upload") 게시글 작성 
        .postings_container
            .postings_kinds 
                .postings_number.kinds
                    span 번호
                .postings_title.kinds
                    span 제목
                .postings_views.kinds
                    span 조회수
                .postings_author.kinds
                    span 작성자
                .postings_createdAt.kinds
                    span 작성일
            if importantPostings
                ul
                    each importantPosting in importantPostings
                        +importantPosting(importantPosting)
            if postings
                ul
                    each posting in postings
                        +posting(posting)
        nav.pages
            if parseInt(page) === 1
                .page_previous.inactive
                    i.fas.fa-arrow-left
            else 
                a.page_previous(href=`/notice${searchPage}${parseInt(page) - 1}${searchQuery ? searchQuery:""}`)
                    i.fas.fa-arrow-left
            if parseInt(maxPage) > 7
            else 
                .pages_container
                    each num in pageArr 
                        if parseInt(num) + 1 === parseInt(page)
                            a.page.this_page(href=`/notice${searchPage}${num + 1}${searchQuery ? searchQuery:""}`)=num + 1
                        else
                            a.page(href=`/notice${searchPage}${num + 1}${searchQuery ? searchQuery:""}`)=num + 1
            if parseInt(page) === parseInt(maxPage)
                .page_next.inactive
                    i.fas.fa-arrow-right
            else 
                a.page_next(href=`/notice${searchPage}${parseInt(page) + 1}${searchQuery ? searchQuery:""}`)
                    i.fas.fa-arrow-right
        form.search(action=`/notice${searchPage}search/1`)
            select#search(name="search")
                option(value="title") 제목
                option(value="content") 내용
                option(value="author") 작성자
            label(for="value")
            input#value(type="text", name="value")
            input#search_submit(type="submit", value="검색")
        

block scripts 
    script(src="/assets/js/notice.js")
