extends ../base

block content
    h1=posting.title
    small=posting.createdAt
    small=posting.lastEdit
    if posting.author
        small=posting.author.name
    else 
        small 게시자 알수없음
    div#content.post(data-content=posting.content, data-id=posting._id)
    if loggedInUser
        if String(posting.author._id) === String(loggedInUser._id)
            a(href=`/notice/${posting._id}/edit`) 게시글 수정 &rarr;
            a(href=`/notice/${posting._id}/delete`) 게시글 삭제 &rarr;

block scripts
    script(src="/assets/js/posting.js")