mixin importantPosting(importantPosting)
    li.posting
        .posting_number.kind
            i.fas.fa-bullhorn
        a.posting_title(href=`/notice/${importantPosting._id}`)=importantPosting.title
        .posting_views.kind
            span=importantPosting.meta.views
        .posting_author.kind
            span=importantPosting.author.name
        .posting_createdAt.kind
            span #{importantPosting.createdAt.getFullYear()}.#{String(importantPosting.createdAt.getMonth() + 1).padStart(2, "0")}.#{String(importantPosting.createdAt.getDate()).padStart(2, "0")}